*{
    font-family: "Poppins", sans-serif;
}

.banner{
    background-image:url(/images/banner2.jpeg.jpg);
    padding: 200px;
    background-size: cover;
    background-repeat:no-repeat;
    color:white;
}