*{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.navbar-brand img {
    width: 65px; /* Adjust this value as needed */
    height: 50px; /* Maintain aspect ratio */
    border-radius:6px;
    border:0px;
  }

.banner {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background-image: url('/images/galaxy.gif');
    background-size: cover;
    background-position: center;
    background-attachment: scroll; 
    min-height:100vh;
    display: flex;
    flex-direction: column; /* Added to align contents vertically */
    justify-content: center; 
    align-items: flex-start;  /* Changed to align contents to the left */
    text-align: left;
    
}

.connect-btn{
    font-weight:500;
    font-size:14px;
    color:rgb(245, 245, 247);
    background-color: #0071e3;
    text-decoration:none;   
    padding:5px 15px;
    margin: 10px 0px;
    border:none;
    border-radius:50px;
    cursor:pointer;
    transition:all 0.3s ease 0s;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}


@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 10s -1s reverse infinite;
    opacity: 0.9;
}
@keyframes wave {
    0% {
        transform: translateX(0);
        opacity: 0.8;
    }

    5% {
        transform: translateX(1%);
        opacity: 0.8;
    }

    45% {
        transform: translateX(-1%);
        opacity: 0.8;
    }

    60% {
        transform: translateX(0);
        opacity: 0.8;
    }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}

.carousel-control-prev,
.carousel-control-next {
  color: black;
}


#about .container {
    padding-top: 50px;
    padding-bottom: 50px;
}

@keyframes blackout {
    0% { opacity: 1; }
    50% { opacity: 0.85 ; }
    100% { opacity: 1; }
}

.animated-image {
    animation: blackout 3s infinite;
}  